

.contenidos-body{
  width: 80%;
  height: 100vh;
  margin: 0 10%;
  padding: 0 1vw;
  background-color: white;
  text-align: center;
}
h1{
margin: 0;
padding: 2vh 0;
}


table {
  width: 99%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.spinner-body {
  display: flex;
  justify-content: center;
  margin: 15vh 0;
}
