.body-agregar{
  width: 80%;
  margin: 0 10%;
  text-align: center;
}
.form-agregar{
  width: 100%;
  text-align: center;
  padding-top: 2vh;
}

    .inputs{
      width: 100%;
      text-align: center;
      padding-top: 2vh;
    }

    /* Botones */
    .example-button-row .mat-mdc-button-base {
      margin: 8px 8px 8px 0;
      width: 40%;
    }

.mat-spinner{
  margin: 0 auto;
  display: block;
}


:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
